@layer components {
  /* #region ANNOUCEMENT-BAR */
  .utility-bar {
    @apply bg-announcement-bar!;
  }

  .announcement-bar__message {
    @apply text-xl! md:text-2xl! text-background-pri!;
  }
  /* #endregion */

  /* #region HEADER */
  .header.page-width {
    @apply max-w-full!;
  }

  .header-wrapper {
    @apply bg-header!;
  }

  /* #region HEADER-LOGO */
  .header-logo-wrapper_ct {
    @apply flex! flex-col! justify-center! items-center! p-0! gap-3!;
  }

  .header__heading-logo-wrapper {
    @apply flex! flex-col! justify-center! items-center!;
  }

  .header__heading-logo {
    @apply h-20! md:h-24! lg:h-28! w-auto!;
  }

  .header-logo-text_ct {
    @apply text-2xl! sm:text-3xl! md:text-4xl! uppercase! text-heading-pri!;
    font-family: var(--font-heading-family) !important;
  }

  .header-logo-wrapper_ct:hover .header-logo-text_ct {
    @apply text-heading-pri-hover!;
  }
  /* #endregion */

  /* #region HEADER-NAVBAR */
  .list-menu--inline {
    @apply gap-5!;
  }

  .header__active-menu-item {
    @apply font-semibold!;
  }

  .header__menu-item {
    @apply text-foreground-pri! text-[1.75rem]!;
  }

  .header__menu-item:hover {
    @apply text-footer!;
  }

  .header__menu-item:hover span {
    @apply text-footer!;
  }
  /* #endregion */

  .header__icon--menu {
    @apply h-18! w-18! flex! justify-center! items-center!;
  }

  /* #region HEADER-MENU-DRAWER */
  .menu-drawer,
  .menu-drawer__navigation {
    @apply bg-header!;
  }

  .menu-drawer__utility-links {
    @apply bg-footer!;
  }

  .menu-drawer__menu-item:hover {
    text-decoration: underline !important;
    text-underline-offset: 0.35rem;
    transition: text-decoration var(--duration-short) ease;
  }

  .menu-drawer__menu-item--active {
    @apply font-semibold!;
  }

  .header-drawer-logintext_ct {
    @apply text-2xl!;
  }

  .header-drawer-social-icons-wrapper-ct {
    @apply mt-8!;
  }
  /* #endregion */

  /* #endregion */

  /* #region FOOTER */
  .footer {
    @apply bg-header!;
  }

  .footer__content-top.page-width {
    @apply max-w-full! xl:px-60!;
  }

  .footer__content-bottom {
    @apply bg-footer! py-12!;
  }

  .footer__blocks-wrapper {
    @apply flex! flex-col! sm:flex-row! flex-wrap! justify-center! sm:justify-evenly! md:justify-around! lg:justify-evenly! items-center! gap-y-20! md:gap-x-10!;
  }

  .footer-block_ct:first-child {
    @apply md:basis-3/10 lg:basis-1/5!;
  }

  .footer-block_ct:nth-child(2) {
    @apply sm:basis-1/2! lg:basis-4/10!;
  }

  .footer-block_ct:last-child {
    @apply lg:basis-1/5!;
  }

  /* #region BRAND-BLOCK */
  .footer-block__brand-info {
    @apply flex! flex-col! justify-center! items-center! gap-2;
  }

  .footer-brand-heading_ct {
    @apply text-3xl! md:text-4xl! text-heading-pri! uppercase! text-center!;
  }

  .footer-brand-img-wrapper_ct {
    @apply h-20! md:h-24! lg:h-28! w-auto!;
  }

  .footer-brand-img-wrapper_ct > img {
    @apply h-full! w-full!;
  }
  /* #endregion */

  /* #region LINK-BLOCK */
  .footer-link-block-wrapper_ct {
    @apply flex! flex-row! justify-center! items-start! gap-14 md:gap-8 lg:gap-20 xl:gap-24 2xl:gap-32;
  }

  .footer-block-link_ct {
    @apply flex! flex-col! justify-center! items-start! gap-7! basis-1! md:basis-auto! text-foreground-pri!;
  }

  .footer-block-link_ct .footer-block__details-content {
    @apply flex! flex-col! items-start! gap-4!;
  }

  .footer-block-link_ct a {
    @apply text-foreground-pri! text-2xl! leading-none!;
  }

  .footer-block-link_ct a:hover {
    @apply underline! underline-offset-[0.3rem]!;
  }

  .footer-block-link_ct li {
    @apply leading-none!;
  }

  .footer-block__heading {
    @apply text-3xl! md:text-4xl!;
  }
  /* #endregion */

  /* #region CONTACT-BLOCK */
  .footer-block-contact_ct {
    @apply flex! flex-col! justify-center! items-start! gap-5 text-foreground-pri! text-2xl!;
  }

  .ind-contact-info_ct:hover {
    @apply text-footer!;
  }
  /* #endregion */

  /* #region COPYRIGHT */
  .footer__copyright {
    @apply mt-0!;
  }

  .copyright__content {
    @apply text-xl! text-foreground-pri!;
    font-family: var(--font-heading-family);
  }
  /* #endregion */

  .ind-contact-info_ct {
    @apply flex! flex-row! justify-center! items-center gap-2!;
  }

  .ind-contact-add_ct {
    @apply items-start!;
  }

  .ind-contact-add_ct > .contact-icon_ct {
    margin-top: 4px;
  }

  @supports (text-box-trim: trim-both) {
    .ind-contact-add_ct > p {
      text-box-trim: trim-both;
    }

    .ind-contact-add_ct > .contact-icon_ct {
      margin-top: 0px;
    }
  }
  /* #endregion */

  /* #region SOCIAL-ICONS */
  .footer-social-icons-wrapper_ct {
    @apply mt-4!;
  }

  .social-icons-wrapper_ct {
    @apply flex! flex-wrap! gap-2.5! text-foreground-pri!;
  }

  .social-icons-wrapper_ct li {
    @apply leading-none!;
  }

  .social-icons-wrapper_ct a:hover {
    @apply text-footer!;
  }
  /* #endregion */

  /* #region MAIN-PAGE */
  main {
    @apply py-24!;
  }

  .main-page-title {
    @apply text-7xl! mb-12!;
  }
  /* #endregion */

  /* #region ABOUT-PAGE */
  .about-page-content_ct {
    @apply mt-12! mb-10!;
  }

  .about-dr-photo_ct {
    @apply h-[300px]! md:h-[375px]! lg:h-[450px]! w-auto!;
  }
  /* #endregion */

  /* #region CONTACT-PAGE */
  .contact-details-wrapper_ct {
    @apply flex flex-col justify-start items-start gap-12 py-10!;
  }

  .ind-contact-details-section_ct {
    @apply flex! flex-col! gap-4!;
  }

  .ind-contact-details-section_ct a:hover {
    @apply text-footer!;
  }

  .contact-details-heading_ct {
    @apply font-medium! text-4xl!;
  }

  .contact-details-text_ct {
    @apply text-2xl!;
  }

  .contact .title {
    @apply font-medium! text-5xl!;
  }
  /* #endregion */

  /* #region PRODUCT-COLLECTION-PAGE */
  .collection-hero__title {
    @apply mb-12! text-7xl!;
  }

  .product-grid_ct {
    @apply grid! grid-cols-1! md:grid-cols-2! lg:grid-cols-3! gap-8! justify-center! justify-items-center! items-stretch! w-9/10! lg:w-full!;
    margin: 0 auto !important;
  }

  .product-grid-item_ct {
    @apply w-full!;
  }
  /* #endregion */

  /* #region PRODUCT-CARD */
  .product_card_outer_ct {
    @apply border-2! border-announcement-bar!;
  }

  .card-btm_ct {
    @apply bg-footer!;
  }

  .card__heading {
    @apply text-background-pri! text-4xl! mb-6!;
  }

  .underline-links-hover:hover .card__heading {
    @apply text-announcement-bar!;
  }

  .quick-add__submit {
    @apply w-fit! min-w-2.5! text-2xl! text-header! bg-announcement-bar! font-medium! px-8! py-3!;
    margin: 0 auto !important;
  }

  .quick-add__submit:hover {
    @apply bg-foreground-pri!;
  }

  .product-card-badge_ct {
    @apply bg-heading-pri! text-background-pri! text-2xl! font-medium! px-4! py-2!;
  }
  /* #endregion */

  /* #region PRICE */
  .price-item {
    @apply text-foreground-pri!;
  }

  .price--on-sale .price__sale {
    @apply flex! items-center! gap-3.5!;
  }

  .price__sale .price-item--regular {
    @apply text-2xl! opacity-75!;
  }

  .price__regular .price-item--regular,
  .price__sale .price-item--sale {
    @apply text-[1.75rem]! font-medium!;
  }
  /* #endregion */
}
