@layer utilities {
  /* #region HEADER-ICONS */
  .header__icons {
    @apply flex! flex-row! justify-self-end! justify-center! items-center! gap-2! sm:gap-3! md:gap-5!;
  }

  .header__icon {
    @apply h-auto! w-auto!;
  }

  .header-icon_ct {
    @apply h-header-icon-size! w-header-icon-size!;
  }

  .header-icon-large_ct {
    @apply h-header-icon-large-size! w-header-icon-large-size!;
  }

  #cart-icon-bubble .svg-wrapper {
    @apply h-header-icon-size! w-header-icon-size!;
  }

  .header-icon_ct > .icon-hamburger,
  .header-icon_ct > .icon-close {
    @apply h-header-icon-size! w-header-icon-size!;
  }

  .header-icon_ct:hover {
    @apply text-footer!;
  }

  .contact-icon_ct {
    @apply h-footer-icon-size! w-footer-icon-size! shrink-0!;
  }

  .social-icon_ct {
    @apply h-footer-icon-size! w-footer-icon-size!;
  }

  .menu-icon_ct {
    @apply h-menu-icon-size! w-menu-icon-size!;
  }

  .menu-icon-small_ct {
    @apply h-menu-icon-small-size! w-menu-icon-small-size!;
  }

  .menu-icon_ct:hover {
    @apply text-footer!;
  }
  /* #endregion */

  .line-separator_ct {
    @apply bg-foreground-pri/25! m-0! my-4!;
    /* border-color: rgba(var(--foreground-pri-color), 0.5) !important; */
    /* color: rgba(var(--foreground-pri-color), 0.75) !important; */
  }

  .semi-imp-text_ct {
    @apply font-semibold!;
  }

  /* #region BUTTONS */
  .btn-reg {
    @apply p-0! min-h-2! min-w-2! tracking-wider!;
    font-family: var(--font-body-family) !important;
  }

  .btn-pri {
    @apply bg-heading-pri! text-background-pri! py-4! px-12! text-3xl! border-none!;
  }

  .btn-sec {
    @apply bg-announcement-bar! text-background-pri! py-4! px-12! text-3xl! border-none!;
  }

  .btn-pri:hover,
  .btn-sec:hover {
    @apply bg-foreground-pri!;
  }

  .btn-reg:before,
  .btn-reg:after {
    content: '' !important; /* Set content to an empty string to remove any text or symbols */
    display: none !important; /* Optionally, hide the pseudo-element entirely */
    /* Reset other properties if necessary, e.g., width, height, background */
    width: 0 !important;
    height: 0 !important;
    background: none !important;
    border: none !important;
  }
  /* #endregion */

  .hidden {
    @apply hidden!;
  }
}
